/* Theme */

main {
	background: #EDEDED;
	color: #AF3D4E;
	text-decoration: none;
}

.icons-social a {
	color: #AF3D4E;
}

.icons-social a svg path{
	fill: #AF3D4E;
}

div {
text-decoration: none;
}
